<!DOCTYPE HTML>
<html>

<head>
	<title>Fcart</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Rokkitt:100,300,400,700" rel="stylesheet">

	<!-- Animate.css -->
	<link rel="stylesheet" href="css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="css/icomoon.css">
	<!-- Ion Icon Fonts-->
	<link rel="stylesheet" href="css/ionicons.min.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="css/bootstrap.min.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="css/magnific-popup.css">

	<!-- Flexslider  -->
	<link rel="stylesheet" href="css/flexslider.css">

	<!-- Owl Carousel -->
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">

	<!-- Date Picker -->
	<link rel="stylesheet" href="css/bootstrap-datepicker.css">
	<!-- Flaticons  -->
	<link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="css/style.css">

</head>

<body>

	<div class="colorlib-loader"></div>

	<div id="page">


		<!-- -------------------------------------- -->

		<!-- navbar starts -->

		<%- include ('partials/user-header.ejs' , { categories }) %>

			<!-- navbar ends -->


			<div class="breadcrumbs">
				<div class="container">
					<div class="row">
						<div class="col">
							<p class="bread"><span><a href="/">Home</a></span> / <span>My Account</span></p>
						</div>
					</div>
				</div>
			</div>


			<div class="colorlib-about" style="padding-top: 2em;">
				<div class="container">
					<div class="row row-pb-lg">
						<div class="col-sm-4 mb-3">
							<div class="col-md-8">
								<div class="form-group">
									<li class="optionbuttons"><a href="">Account Details</a></li>
								</div>
							</div>
							<div class="col-md-8">
								<div class="form-group">
									<li class="optionbuttons"><a href="/orderhistory">My orders</a></li>
								</div>
							</div>
							<div class="col-md-8">
								<div class="form-group">
									<li class="optionbuttons"><a href="/wishlist">Wishlist</a></li>
								</div>
							</div>
						</div>
						<div class="col-sm-8" id="accdetailsdiv">
							<div class="about-wrap">
								<h4>
									Account details :
								</h4>
								<div class="mleft">
									<p>
										Username : <%= userdata.uname %>
									</p>
									<p>
										Email : <%= userdata.email %>
									</p>
									<p>
										Phone : <%= userdata.phone %>
									</p>
									<p>
										Account created on : <%= userdata.createdAt.toLocaleString() %>
									</p>
								</div>

								<h4>Address :</h4>

								<div class="mleft">
									<% if (useraddress) { %>

										<p id="fnameandlname">
											<%= useraddress.fname %>
												<%= useraddress.lname %>
										</p>
										<p id="street">
											<%= useraddress.street %>
										</p>
										<p id="cityandzip">
											<%= useraddress.city %> , <%= useraddress.zip %>
										</p>
										<p id="stateandcountry">
											<%= useraddress.state %> , <%= useraddress.country %>
										</p>
										<div class="col-md-12 text-center">
											<button onclick="showeditform()" type="submit"
												class="btn btn-primary">Edit</button>
										</div>

										<% } else { %>

											<p>You did not added address</p>
											<div class="col-md-12 text-center">
												<button onclick="showaddform()" type="submit"
													class="btn btn-primary">Add Now</button>
											</div>

										<% } %>
								</div>

							</div>
						</div>

						<!-- address add form div---------------------------------------------------------- -->
						<div class="col-sm-8 mb-3" id="addformdiv">
							<form id="addressform" class="colorlib-form">
								<h2>Add Address</h2>
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<label for="country">Select Country</label>
											<div class="form-field">
												<i class="icon icon-arrow-down3"></i>
												<select name="country" id="people" class="form-control">
													<option></option>
													<option>India</option>
													<option>China</option>
													<option>Japan</option>
													<option>Korea</option>
													<option>Philippines</option>
												</select>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="fname">First Name</label>
											<input name="firstname" type="text" id="<%= userdata._id %>"
												class="form-control" placeholder="Your firstname">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="lname">Last Name</label>
											<input name="lname" type="text" id="lname" class="form-control"
												placeholder="Your lastname">
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<label for="fname">Adress</label>
											<input name="street" type="text" id="address" class="form-control"
												placeholder="Enter Your Address">
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<label for="companyname">Town/City</label>
											<input name="city" type="text" id="towncity" class="form-control"
												placeholder="Town or City">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="stateprovince">State/Province</label>
											<input name="state" type="text" id="fname" class="form-control"
												placeholder="State Province">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="lname">Zip/Postal Code</label>
											<input name="zip" type="text" id="zippostalcode" class="form-control"
												placeholder="Zip / Postal">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="email">E-mail Address</label>
											<input name="email" type="text" id="email" class="form-control"
												placeholder="Email">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="Phone">Phone Number</label>
											<input name="phone" type="text" id="zippostalcode" class="form-control"
												placeholder="">
										</div>
									</div>
									<p id="errmsg"></p>
									<div class="col-md-12 text-center">
										<button onclick="cancelSaveAddress()" type="button"
											class="btn btn-primary">Cancel</button>
										<button onclick="saveAddress()" type="submit"
											class="btn btn-primary">Add</button>
									</div>
								</div>
							</form>
						</div>
						<!-- address edit form div-------------------------------------------------------- -->
						<% if (useraddress) { %>
						<div class="col-sm-8 mb-3" id="editformdiv">
							<form id="editaddressform" class="colorlib-form">
								<h2>Edit Address</h2>
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<label for="country">Select Country</label>
											<div class="form-field">
												<i class="icon icon-arrow-down3"></i>
												<select name="country" id="people" class="form-control">
													<option><%= useraddress.country %></option>
													<option>India</option>
													<option>China</option>
													<option>Japan</option>
													<option>Korea</option>
													<option>Philippines</option>
												</select>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="fname">First Name</label>
											<input name="firstname" type="text" id="<%= userdata._id %>"
												class="form-control" value="<%= useraddress.fname %>" placeholder="Your firstname">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="lname">Last Name</label>
											<input name="lname" type="text" id="lname" class="form-control" value="<%= useraddress.lname %>"
												placeholder="Your lastname">
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<label for="fname">Adress</label>
											<input name="street" type="text" id="address" class="form-control" value="<%= useraddress.street %>"
												placeholder="Enter Your Address">
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<label for="companyname">Town/City</label>
											<input name="city" type="text" id="towncity" class="form-control" value="<%= useraddress.city %>"
												placeholder="Town or City">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="stateprovince">State/Province</label>
											<input name="state" type="text" id="fname" class="form-control" value="<%= useraddress.state %>"
												placeholder="State Province">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="lname">Zip/Postal Code</label>
											<input name="zip" type="text" id="zippostalcode" class="form-control" value="<%= useraddress.zip %>"
												placeholder="Zip / Postal">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="email">E-mail Address</label>
											<input name="email" type="text" id="email" class="form-control" value="<%= useraddress.email %>"
												placeholder="Email">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="Phone">Phone Number</label>
											<input name="phone" type="text" id="zippostalcode" class="form-control" value="<%= useraddress.phone %>"
												placeholder="">
										</div>
									</div>
									<p id="errmsg"></p>
									<div class="col-md-12 text-center">
										<button onclick="cancelEditAddress()" type="button"
											class="btn btn-primary">Cancel</button>
										<button onclick="editAddress()" type="submit"
											class="btn btn-primary">Save changes</button>
									</div>
								</div>
							</form>
						</div>
						<% } %>
					</div>
				</div>
			</div>


			<!-- -------------------------------------- -->

			<!-- footer starts -->

			<%- include ('partials/user-footer.ejs') %>

			<!-- foooter ends -->

	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="ion-ios-arrow-up"></i></a>
	</div>

	<style>
		.mleft {
			margin-left: 50px;
		}

		.optionbuttons {
			padding: 0;
			margin: 0;
			list-style: none;
			display: inline;
			font-weight: 400;
			font-family: "Rokkitt", Georgia, serif;
			text-transform: uppercase;
			font-size: 15px;
			letter-spacing: 2px;
		}

		#addformdiv {
			display: none;
		}
		#editformdiv {
			display: none;
		}
		#accdetailsdiv {
			display: block;
		}
	</style>
	<!-- script for addressform -->
	<script>
		// add addressform actions ================================================
		function showaddform() {
			document.getElementById('addformdiv').style.display = 'block'
			document.getElementById('accdetailsdiv').style.display = 'none'
		}
		
		function cancelSaveAddress() {
			document.getElementById('addformdiv').style.display = 'none'
			document.getElementById('accdetailsdiv').style.display = 'block'
		}

		const addressform = document.getElementById('addressform')
		function saveAddress() {
			addressform.addEventListener('submit', async (event) => {
				event.preventDefault()
				const userid = addressform.firstname.id
				const fname = addressform.firstname.value
				const lname = addressform.lname.value
				const street = addressform.street.value
				const city = addressform.city.value
				const country = addressform.country.value
				const state = addressform.state.value
				const zip = addressform.zip.value
				const email = addressform.email.value
				const phone = addressform.phone.value

				console.log(userid, fname, lname, street, city, country, state, zip, email, phone);
				try {
					const res = await fetch('/addaddress',
						{
							method: 'POST',
							body: JSON.stringify({ userid, fname, lname, street, city, country, state, zip, email, phone }),
							headers: { 'Content-Type': 'application/json' }
						})
					const message = res.json()
					console.log(message)
					if (message.succes) {

						window.location.reload(true)
					} else {
						const errmsg = document.getElementById('errmsg')
						errmsg.style.display = 'block'
						errmsg.style.color = 'red'
						errmsg.innerText = 'Please fill all the fields'
					}
				} catch (Error) {
					console.log(Error)
				}
			})
		}
		
		// edit addressform actions ========================================================

		function showeditform(){
			document.getElementById('editformdiv').style.display = 'block'
			document.getElementById('accdetailsdiv').style.display = 'none'	
		} 
		
		function cancelEditAddress() {
			document.getElementById('editformdiv').style.display = 'none'
			document.getElementById('accdetailsdiv').style.display = 'block'
		}
		
		function editAddress(){
			const addressform = document.getElementById('editaddressform')
			addressform.addEventListener('submit', async (event) => {
				event.preventDefault()
				const userid = addressform.firstname.id
				const fname = addressform.firstname.value
				const lname = addressform.lname.value
				const street = addressform.street.value
				const city = addressform.city.value
				const country = addressform.country.value
				const state = addressform.state.value
				const zip = addressform.zip.value
				const email = addressform.email.value
				const phone = addressform.phone.value

				console.log(userid, fname, lname, street, city, country, state, zip, email, phone);
				try {
					const res = await fetch('/editaddress',
						{
							method: 'POST',
							body: JSON.stringify({ userid, fname, lname, street, city, country, state, zip, email, phone }),
							headers: { 'Content-Type': 'application/json' }
						})
					const message = await res.json()
					console.log(message)
					const errmsg = document.getElementById('errmsg')
					if (message.succes) {
						document.getElementById('fnameandlname').innerText = fname +' '+ lname
						document.getElementById('street').innerText = street
						document.getElementById('cityandzip').innerText = city +','+ zip
						document.getElementById('stateandcountry').innerText = state +','+ country
						document.getElementById('editformdiv').style.display = 'none'
						document.getElementById('accdetailsdiv').style.display = 'block'	
						errmsg.style.display = 'none'
					} else {
						errmsg.style.display = 'block'
						errmsg.style.color = 'red'
						errmsg.innerText = 'Please fill all the fields'
					}
				} catch (Error) {
					console.log(Error)
				}
			})
		}

	</script>


	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- popper -->
	<script src="js/popper.min.js"></script>
	<!-- bootstrap 4.1 -->
	<script src="js/bootstrap.min.js"></script>
	<!-- jQuery easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Flexslider -->
	<script src="js/jquery.flexslider-min.js"></script>
	<!-- Owl carousel -->
	<script src="js/owl.carousel.min.js"></script>
	<!-- Magnific Popup -->
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/magnific-popup-options.js"></script>
	<!-- Date Picker -->
	<script src="js/bootstrap-datepicker.js"></script>
	<!-- Stellar Parallax -->
	<script src="js/jquery.stellar.min.js"></script>
	<!-- Main -->
	<script src="js/main.js"></script>

</body>

</html>


